.rightbar{
    flex: 3.5;
}

.rightbarwrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImg{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-style: 15px;

}

.rightbarContainer{
    margin: 0;
    padding: 0;
    list-style: none;
}


.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;

}

.rightbarOnline{
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 0;
    border: 2px solid white;
}